{% load static %}
  <!-- 代码 开始 悬浮窗 -->
<div id="rightArrow"><a href="javascript:;" title="关于我们"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">关于我们</div>
        <div class="floatShadow">
            <div style="text-align:center;padding:10PX 0 5px 0;background:#EBEBEB;"><img src="{% static "pic/7151451712671448.jpg" %}" width="100px" height="100px"><br>捐赠账号</div>
        </div>
        <div class="floatShadow">
            <div style="text-align:center;padding:10PX 0 5px 0;background:#EBEBEB;"><img src="{% static "pic/2411451712841734.jpg" %}" width="100px" height="100px"><br>彩虹包裹</div>
        </div>
        <div class="floatShadow">
            <div style="text-align:center;padding:10PX 0 5px 0;background:#EBEBEB;"><img src="{% static "pic/1441451802925025.jpg" %}" width="100px" height="100px"><br>进入网站</div>
        </div>
    <div class="floatDbg"></div>
</div>
<script type="text/javascript" src="{% static "js/lrtk.js" %}"></script>

<!-- 代码 结束  悬浮窗-->
    
    <!--菜单部分-->
    <div class="allwidthbox" style="background-color:#F98A2C;">
        <div class="contentCenter">
            <div id="menu">
                <ul>
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li><a href="{% url 'NewsList' column_list=1 %}">信息咨询</a></li>
                    <li><a href="{% url 'CityNews' %}">市州动态</a></li>
                    <li>
                        <a href="{% url 'NewsList' column_list=9 %}">文件通知</a>
                    </li>
                    <li>
                        <a href="{% url 'NewsList' column_list=3 %}">公示公告</a>
                    </li>
                    <li>
                        <a href="{% url 'Projects' %}">公益项目</a>
                    </li>
                    <li><a href="{% url 'Video' %}">爱心视频</a></li>
                    <li>
                        <a href="{% url 'NewsList' column_list=4 %}">政策法规</a>
                    </li>
                    <li><a href="">项目申请</a></li>
                    
                    <li>
                        <a href="{% url 'Comment' %}">网友留言</a>
                    </li>
                    <li><a href="{% url 'About' %}">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--菜单部分结束-->
    
<!--其他页面的Logo简单出现-->

<div class="allwidthbox">
    <div class="contentCenter">
        <div id="minilogo"><img src="{% static "pic/minilogo.jpg" %}" alt="" width="349" height="80"></div>
    </div>
</div>
<!--其他页面的Logo简单出现结束-->

<div class="allwidthbox" style="padding-top:10px;">
    <div class="contentCenter">
        <div class="allist" id="newpart">
