<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>湖南省妇女儿童发展基金会 -Hunan woman and childen's development foundation</title>
</head>
<body>
    <a href="{% url 'index' %}">首页</a>
    <a href="{% url 'NewsList' column_list=1 %}">信息咨询</a>
    <a href="{% url 'CityNews' %}">市州动态</a>
    <a href="{% url 'NewsList' column_list=9 %}">文件通知</a>
    <a href="{% url 'NewsList' column_list=3 %}">公示公告</a>
    <a href="{% url 'Projects' %}">公益项目</a>
    <a href="{% url 'Video' %}">爱心视频</a>
    <a href="{% url 'NewsList' column_list=4 %}">政策法规</a>
    <a href="">项目申请</a>
    <a href="{% url 'Comment' %}">网友留言</a>
    <a href="{% url 'About' %}">关于我们</a>
    
    
</body>
</html>