{% load static %}
<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="zh"><![endif]-->
<!--[if gt IE 7]><!-->
<html lang="zh"><!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>湖南省妇女儿童发展基金会 -Hunan woman and childen's development foundation-</title>
   
    <link href="{%　static "css/lrtk.css"　%}" rel="stylesheet">
    <link href="{%　static "css/index.css" %}" rel="stylesheet" type="text/css">
    <link href="{%　static "css/share.css" %}" rel="stylesheet" type="text/css">
    <link href="{%　static "css/style.css" %}" rel="stylesheet" type="text/css">
    <script src="static/hm.asc"></script><script src="static/jquery-1.js"></script>
    <script type="text/javascript" src="static/jquery_002.js"></script>
    <script type="text/javascript" src="static/focus.js"></script>
    <script src="static/ckplayer.js"></script>
    <link href="{%　static "css/PagedList.css" %}" rel="stylesheet">
    <script src="static/scroll.js"></script>
    <link href="{%　static "css/scroll.css" %}" rel="stylesheet">
    <script src="static/jquery.js"></script>
	<script>
		var _hmt = _hmt || [];
		(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?5e2e9dbcb318967bd8f11aa17880f9dc";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
		})();
	</script>
   
</head>
<body>
   
    
    {% include 'base/nav.html' %}
    <div class="articleInfo">
    {% for i in data %}
        <div class="articleTitle">
            {{i.Title}}
        </div>
        <div class="articleDate">
        {{i.Time | date:"Y-m-d"}}    阅读量:{{i.Count}}
        </div>
         <div class="articleDate">
        <video src="{{i.FilePath}}" controls="controls" width="720" height="600"></video>
        </div>
    {% endfor %}
    </div>
    
    {% include 'base/bottom.html' %}
</body>
</html>